{% extends '../base.html' %}

{% load static %}
{% load jalali_tags %}

{% block content %}

    <h4 class="py-3 breadcrumb-wrapper mb-2">لیست درخواست شروع به کار</h4>

    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">{{ message }}</div>
        {% else %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endif %}
    {% endfor %}

    <div class="card">
        <div class="card-header border-bottom">
            <h5 class="card-title">فیلتر جستجو</h5>
            <form action="{% url 'tasks_list' %}">
                <div class="d-flex justify-content-between align-items-center row py-3 gap-3 gap-md-0">
                    <div class="col-md-3 user_role">
                        <input class="form-control" type="search" name="q" placeholder="جستجو براساس شماره درخواست"
                               value="{{ request.GET.q }}">
                    </div>
                    <div class="col-md-3 user_plan">
                        <label for="departmentfield">
                            دپارتمان
                        </label>
                        <select class="select2 form-select" name="department" id="departmentfield">
                            <option value="">انتخاب واحد</option>
                            {% for department in departments %}
                                <option value="{{ department.id }}"
                                        {% if request.GET.department|add:0 == department.id %}
                                        selected {% endif %}>{{ department.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3 order_status">
                        <label for="statusfield">
                            وضعیت
                        </label>
                        <select class="form-select" name="status" id="statusfield">
                            <option value="">وضعیت</option>
                            <option value="1" {% if request.GET.status == '1' %} selected {% endif %}>کامل</option>
                            <option value="0" {% if request.GET.status == '0' %} selected {% endif %}>ناقص</option>
                        </select>
                    </div>
                    <div class="col-md-3 user_plan">
                        <label for="operationfield">
                            عملیات
                        </label>
                        <select class="select2 form-select" name="operation" id="operationfield">
                            <option value="">انتخاب عملیات</option>
                            {% for operation in operations %}
                                <option value="{{ operation.id }}"
                                        {% if request.GET.operation|add:0 == operation.id %}
                                        selected {% endif %}>{{ operation.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3 order_status mt-3">
                        <label for="start_date">
                            از تاریخ:
                        </label>
                        <input type="text" id="start_date" name="start_date" value='{{ request.GET.start_date }}'
                               class="form-control invoice-date"
                               placeholder="YYYY/MM/DD">
                    </div>
                    <div class="col-md-3 order_status mt-3 me-auto">
                        <label for="start_date">
                            تا تاریخ:
                        </label>
                        <input type="text" id="due_date" name="due_date" value='{{ request.GET.due_date }}'
                               class="form-control due-date"
                               placeholder="YYYY/MM/DD">
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3 user_status">
                        <button type="submit" class="btn btn-label-primary">اعمال فیلتر</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-datatable table-responsive">
            <table class="table border-top text-center table-striped">
                <thead class="table-dark">
                <tr>
                    <th>شماره سفارش</th>
                    <th>نام مجری</th>
                    <th>اپراتور فنی</th>
                    <th>شرح فعالیت</th>
                    <th>شرح لوازم مصرفی</th>
                    <th>تاریخ</th>
                    <th>وضعیت</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.order.orderId }}</td>
                        <td>{{ task.user.profile }}</td>
                        <td>{{ task.operator.username }}</td>
                        <td>{{ task.description|truncatewords:"10" }}</td>
                        <td>{{ task.description2|truncatewords:"10" }}</td>
                        <td>{{ task.date|to_jalali:'%y/%m/%d' }}</td>
                        <td>{% if task.completed %}
                            <span class="badge bg-label-success">کامل</span>
                        {% else %}
                            <span class="badge bg-label-danger">ناقص</span>
                        {% endif %}
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                {% if perms.base.change_task %}
                                    <a href="{% url 'task_edit' task.id %}" class="btn btn-sm btn-icon">
                                        <i class="bx bx-edit"></i>
                                    </a>
                                {% endif %}
                                <a href="{% url 'task_detail' task.id %}" class="btn btn-sm btn-icon">
                                    <i class="bx bx-show"></i>
                                </a>
                                {% if user.is_superuser %}
                                    <a href="javascript:;" data-bs-toggle="modal"
                                       data-bs-target="#deleteTaskModal_{{ task.id }}"
                                       class="role-edit-modal text-danger">
                                        <i class="bx bx-trash"></i>
                                    </a>
                                    <div class="modal fade" id="deleteTaskModal_{{ task.id }}" tabindex="-1"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-lg modal-dialog-centered modal-add-new-role">
                                            <div class="modal-content p-3 p-md-5">
                                                <button type="button" class="btn-close btn-pinned"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                <div class="modal-body">

                                                    <div class="text-center mb-4">
                                                        <h3 class="role-title">آیا میخواهید درخواست مربوط با کار حذف
                                                            شود؟</h3>
                                                    </div>
                                                    <form method="post" class="row g-3"
                                                          action="{% url 'archive-task' task.id %}">
                                                        {% csrf_token %}
                                                        <div class="col-12 text-center">
                                                            <button type="submit" name="type_of_delete"
                                                                    value="delete_all"
                                                                    class="btn btn-danger me-sm-3 me-1">
                                                                بله
                                                            </button>
                                                            <button type="submit" name="type_of_delete"
                                                                    value="delete_this" class="btn btn-primary">
                                                                خیر
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination justify-content-center">
                {% if is_paginated %}
                    <div class="card-footer">
                        <div style="text-align: center;">

                            {% if page_obj.has_previous %}
                                <a class="btn btn-outline-primary btn-sm  paging" href="#" data-num="1">اولین صفحه</a>
                                <a class="btn btn-outline-primary btn-sm  paging" href="#"
                                   data-num="{{ page_obj.previous_page_number }}">قبلی</a>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <a class="btn btn-primary btn-sm  paging" href="#"
                                       data-num="{{ num }}">{{ num }}</a>
                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                    <a class="btn btn-outline-primary btn-sm  paging" href="#"
                                       data-num="{{ num }}">{{ num }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <a class="btn btn-outline-primary btn-sm  paging" href="#"
                                   data-num="{{ page_obj.next_page_number }}">بعدی</a>
                                <a class="btn btn-outline-primary btn-sm  paging" href="#"
                                   data-num="{{ page_obj.paginator.num_pages }}">
                                    آخرین صفحه</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
